<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Languages
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li>@Html.ActionLink("Arabic","Index","Language", new{language = "ar"},null)</li>
        <li>@Html.ActionLink("English","Index","Language", new{language = "en"},null)</li>
        <li>@Html.ActionLink("French","Index","Language", new{language = "fr"},null)</li>
    </ul>
</div>