@model UserDto
<html>
<head>

    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="login">
        <h1>Register to Web App</h1>

        <form method="post" asp-controller="Register" asp-action="Register">
            <p><input type="text" name="Username" value="" placeholder="Username.." required></p>
            <p><input type="password" name="Password" value="" placeholder="Password.." required></p>
            <p class="remember_me">
                <label style="font-size: 11px;">
                    <input type="checkbox" name="remember_me" id="remember_me">
                    Remember me on this computer
                </label>
            </p>
            <input style="margin-top: 10px; width: 85%;" class="btnLogin" type="submit" name="commit" value="Register">
            <a style="margin-top: 10px; width: 100%;" asp-controller="Login" asp-action="Index" class="btn btn-sm btn-secondary">Back</a>
            <hr />
        </form>
    </div>
</body>
</html>